<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="ummbuilder" name="UMM Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="false"> 
			<run class="org.ebix.umm.uml2text.builder.UmmBuilder"/> 
		</builder>
	</extension> 
	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.ebix.umm.uml2text.preferences.UmmStereotypeProjectPropertiesPage"
			  id="ummstereotypes"
		      name="UMM Stereotypes">
			<enabledWhen>
		        <instanceof value="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page> 
	</extension>  
</plugin>
<!-- 
 <and>
            <instanceof
             value="org.eclipse.core.resources.IProject">
        </instanceof>
            <adapt type="org.eclipse.core.resources.IResource" >
                <test
                 property="org.eclipse.core.resources.projectNature"
                value="com.oaklandsw.transform.runtime.nature">
                </test>
            </adapt>   
    </and>
-->
